<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Flask GRUD Image</title>
</head>
<body>
    <div class="container-fluid bg-dark text-light text-center p-5">
        <h1>DEMO Flask CRUD Image</h1>
        <a href="{{url_for('add')}}" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Add Product
        </a>
    </div>

    <div class="row p-4">
        {% for product in products %}
        <div class="card col-md-4 me-4 mb-5" style="width: 18rem;">
            <img src="/static/uploads/{{product[4]}}" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">{{product[1]}}</h5>
              <p class="card-text">{{product[2]}}</p>
              <a href="{{url_for('delete', id=product[0])}}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Delete</a>
              <a href="{{url_for('edit', id=product[0])}}" class="btn btn-success"><i class="fa-solid fa-pen-nib"></i> Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>
